Repository pingcap/docs-tidb-operator, pull requests merged in 2022-11, with the labels that each got.

#2073 fix links in learning path
  en/TOC.md
  en/_index.md
  zh/TOC.md
  zh/_index.md
Labels: status/can-merge, status/LGT1, translation/done, type/bug-fix, size/L, needs-cherry-pick-release-1.3

#2065 support aws ebs snapshot based backup and restore
  en/TOC.md
  en/backup-restore-cr.md
  en/backup-restore-overview.md
  en/backup-to-aws-s3-by-snapshot.md
  en/grant-permissions-to-remote-storage.md
  en/restore-from-aws-s3-by-snapshot.md
  en/volume-snapshot-backup-restore.md
  zh/backup-restore-cr.md
  zh/backup-to-aws-s3-by-snapshot.md
  zh/restore-from-aws-s3-by-snapshot.md
  zh/volume-snapshot-backup-restore.md
Labels: status/can-merge, status/LGT1, status/LGT2, translation/from-zh, size/XXL, needs-cherry-pick-release-1.4, tidb/v6.4

#2077 en, zh: add index page to left navigation
  en/TOC.md
  zh/TOC.md
Labels: type/enhancement, needs-cherry-pick-release-1.0, needs-cherry-pick-release-1.1, status/can-merge, status/LGT2, translation/done, size/XS, needs-cherry-pick-release-1.2

#2076 en: fix typos of config in backup and restore in azblob
  en/backup-to-azblob-using-br.md
  en/restore-from-azblob-using-br.md
Labels: status/can-merge, status/LGT2, translation/from-zh, size/M, needs-cherry-pick-release-1.4, tidb/v6.4

#1989 fix-aws-link-in-grant-permissions-to-remote-storage
  en/grant-permissions-to-remote-storage.md
  en/restore-data-using-tidb-lightning.md
  zh/grant-permissions-to-remote-storage.md
  zh/restore-data-using-tidb-lightning.md
Labels: needs-cherry-pick-release-1.1, status/can-merge, status/LGT2, translation/done, size/XS, needs-cherry-pick-release-1.2, needs-cherry-pick-release-1.3, needs-cherry-pick-release-1.4

#2090 en,zh: add 1.4.0-beta.2 release note
  en/TOC.md
  en/releases/release-1.4.0-beta.2.md
  zh/TOC.md
  zh/releases/release-1.4.0-beta.2.md
Labels: status/can-merge, status/LGT2, translation/done, size/M, needs-cherry-pick-release-1.4

#2092 bump v1.4.0-beta.1 to v1.4.0-beta.2
  en/cheat-sheet.md
  en/deploy-on-alibaba-cloud.md
  en/deploy-tidb-from-kubernetes-gke.md
  en/deploy-tidb-operator.md
  en/get-started.md
  en/tidb-toolkit.md
  en/upgrade-tidb-operator.md
  zh/cheat-sheet.md
  zh/deploy-on-alibaba-cloud.md
  zh/deploy-tidb-from-kubernetes-gke.md
  zh/deploy-tidb-operator.md
  zh/get-started.md
  zh/tidb-toolkit.md
  zh/upgrade-tidb-operator.md
Labels: status/can-merge, status/LGT1, translation/done, size/L

#2094 Update clinic-user-guide.md
  en/clinic-data-collection.md
  en/clinic-user-guide.md
  zh/clinic-user-guide.md
Labels: status/can-merge, status/LGT2, translation/done, size/M, needs-cherry-pick-release-1.3, area/clinic, needs-cherry-pick-release-1.4

#2097 update diag version to 1.2.1
  en/clinic-user-guide.md
  zh/clinic-user-guide.md
Labels: status/can-merge, status/LGT2, translation/done, size/M, needs-cherry-pick-release-1.3, area/clinic, needs-cherry-pick-release-1.4

#2100 BR: Fix backup schedule not clear about "prefix" for restore and wrong use of "serviceAccount"
  en/backup-to-aws-s3-using-br.md
  zh/backup-to-aws-s3-using-br.md
Labels: needs-cherry-pick-release-1.1, status/can-merge, status/LGT2, translation/done, size/XS, needs-cherry-pick-release-1.2, needs-cherry-pick-release-1.3, needs-cherry-pick-release-1.4
