Repository pingcap/docs-tidb-operator, pull requests merged in 2024-04, with the labels that each got.

#2541 clinic: update UI elements on the login page
  en/clinic-user-guide.md
  zh/clinic-user-guide.md
Labels: translation/done, type/bug-fix, size/XS, area/clinic, needs-cherry-pick-release-1.5, lgtm, approved, needs-cherry-pick-release-1.6

#2547 en, zh: fix code typo in exceptions
  en/exceptions.md
  zh/exceptions.md
Labels: translation/done, size/XS, needs-cherry-pick-release-1.2, needs-cherry-pick-release-1.3, needs-cherry-pick-release-1.4, needs-cherry-pick-release-1.5, lgtm, approved, needs-1-more-lgtm, needs-cherry-pick-release-1.6, ONCALL

#2546 zh, en: update some instance type for AWS Graviton
  en/deploy-cluster-on-arm64.md
  en/deploy-on-aws-eks.md
  zh/deploy-cluster-on-arm64.md
  zh/deploy-on-aws-eks.md
Labels: translation/done, size/S, needs-cherry-pick-release-1.5, lgtm, approved, needs-1-more-lgtm, needs-cherry-pick-release-1.6

#2557 en,zh: add v1.5.3 release notes
  en/TOC.md
  en/releases/release-1.5.3.md
  zh/TOC.md
  zh/releases/release-1.5.3.md
Labels: translation/done, size/M, needs-cherry-pick-release-1.5, lgtm, approved, needs-1-more-lgtm, needs-cherry-pick-release-1.6
